body {

  background-image: url('images/logo.png');
  background-size:cover;
  background-position:flex;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  text-align:center;
  padding: 0 20px;
}

h1 {
  font-size: 5rem;
  color: #ffe81f;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #870000;

}



.q {
  background-image: url('images/starwarsq.gif');
  background-size:cover;
  background-position:flex;
}

.s {
  background-image: url('images/starwarss.gif');
  background-size:cover;
  background-position:flex;
}

.d {
  background-image: url('images/starwarsd.gif');
  background-size:cover;
  background-position:flex;
}

.f {
  background-image: url('images/starwarsf.gif');
  background-size:cover;
  background-position:flex;
}

.g {
  background-image: url('images/starwarsg.gif');
  background-size:cover;
  background-position:flex;
}

.h {
  background-image: url('images/starwarsh.webp');
  background-size:cover;
  background-position:flex;
}

.j {
 background-image: url('images/starwarsj.gif');
  background-size:cover;
  background-position:flex;
}

.r {
  background-image: url('images/starwarsr.gif');
  background-size:cover;
  background-position:flex;
}

.t {
  background-image: url('images/starwarst.gif');
  background-size:cover;
  background-position:flex;
}

.y {
  background-image: url('images/starwarsy.webp');
  background-size:cover;
  background-position:flex;
}

.u {
  background-image: url('images/starwarsu.gif');
  background-size:cover;
  background-position:flex;
}

.i {
  background-image: url('images/starwarsi.gif');
  background-size:cover;
  background-position:flex;
}

.o {
  background-image: url('images/starwarso.webp');
  background-size:cover;
  background-position:flex;
}

.p {
 background-image: url('images/starwarsp.gif');
  background-size:cover;
  background-position:flex;
}
.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #ffe81f;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color:#ffe81f;
  text-shadow: 3px 0 #000000;
  border-radius: 15px;
  display: inline-block;
  width: 300px;
  height: 150px;
  text-align: left;
  margin: 10px;
  background-color: white;
}
